<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @hemo_lunar.data %>
</p>

<p>
  <b>Hemoglobina:</b>
  <%= @hemo_lunar.hemoglobina %>
</p>

<p>
  <b>Hematocrit:</b>
  <%= @hemo_lunar.hematocrit %>
</p>

<p>
  <b>Hematii:</b>
  <%= @hemo_lunar.hematii %>
</p>

<p>
  <b>Leucocite:</b>
  <%= @hemo_lunar.leucocite %>
</p>

<p>
  <b>Trombocite:</b>
  <%= @hemo_lunar.trombocite %>
</p>

<p>
  <b>Uree:</b>
  <%= @hemo_lunar.uree %>
</p>

<p>
  <b>Creatinina:</b>
  <%= @hemo_lunar.creatinina %>
</p>

<p>
  <b>Sodiu:</b>
  <%= @hemo_lunar.sodiu %>
</p>

<p>
  <b>Potasiu:</b>
  <%= @hemo_lunar.potasiu %>
</p>

<p>
  <b>Tgo:</b>
  <%= @hemo_lunar.tgo %>
</p>

<p>
  <b>Tgp:</b>
  <%= @hemo_lunar.tgp %>
</p>

<p>
  <b>Glicemie:</b>
  <%= @hemo_lunar.glicemie %>
</p>

<p>
  <b>Calciu:</b>
  <%= @hemo_lunar.calciu %>
</p>

<p>
  <b>Fosfor:</b>
  <%= @hemo_lunar.fosfor %>
</p>

<p>
  <b>Inr:</b>
  <%= @hemo_lunar.inr %>
</p>

<p>
  <b>Pacient:</b>
  <%= @hemo_lunar.pacient %>
</p>


<%= link_to 'Edit', edit_hemo_lunar_path(@hemo_lunar) %> |
<%= link_to 'Back', hemo_lunars_path %>
