<%= simple_fields_for :analiza_atipicas do |g| %>
<div class="inputs">
  <%= g.input :analiza %>
  <%= g.input :valoare %>
  <%= g.input :unitate_masura %>
</div>
<div class="actions">
  <%= g.button :submit %>
</div>
<% end %>

