<tr>
    <td><%= analiza.data %></td>
    <td><%= analiza.hemoglobina %></td>
    <td><%= analiza.hematocrit %></td>
    <td><%= analiza.hematii %></td>
    <td><%= analiza.leucocite %></td>
    <td><%= analiza.trombocite %></td>
    <td><%= analiza.uree %></td>
    <td><%= analiza.creatinina %></td>
    <td><%= analiza.sodiu %></td>
    <td><%= analiza.potasiu %></td>
    <td><%= analiza.tgo %></td>
    <td><%= analiza.tgp %></td>
    <td><%= analiza.glicemie %></td>
    <td><%= analiza.calciu %></td>
    <td><%= analiza.fosfor %></td>
    <td><%= analiza.inr %></td>
    <td><%# link_to 'Show', pacient_hemo_lunar(@pacient) %></td><!-- de revazut -->
    <td><%# link_to 'Edit', edit_pacient_analiza_path(analiza) %></td>
    <td><%# link_to 'Destroy', analiza, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
